.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightgreen;
    align-items: center;
    line-height: 80px;
    margin-bottom: 90px;
}
.log-in {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cup-ball {
    width: 30px;
    margin: 0 15px;
}
.links {
    display: flex;
    flex-direction: row;
}
.links > a {
    margin:0 15px;
}